/* custom-accordion.css */
.custom-accordion-header {
    background-color: transparent !important;
    border: none !important;
  }
  
  .custom-accordion-header:hover {
    background-color: transparent !important;
  }
  
  .custom-accordion-header:focus {
    background-color: transparent !important;
  }
  